:root {
    --navcol: #2f6690;
  }


*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;

}

.header
{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: var(--navcol);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    font-size: 2rem;
    color:azure;
    text-decoration: none;
    font-weight: 700;

}
.navbar a {
    position: relative;
    font-size: 18px;
    color: azure;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
}
.navbar a:hover::before
{
    width: 100%;
}
.icons
{
    position: absolute;
    /* right: 5%; */
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


.dropbtn {
    background-color: var(--navcol);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(52, 50, 50);
  background-color: 50%;
}



















@media(max-width:992px)
{
    .header
    {
        padding: 1.3rem 5%;
    }
    
}



@media(max-width:700px)
{
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
   
    .navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: 0.3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: #16425b;
    }
}