@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto+Slab&display=swap');

:root {
    --navcol: #2f6690;
}
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background-color: #fbfcf0;
    background-size: cover;
    background-position: center;
    background-image: none;
    background-size: cover;
    background-position: center;
}

.fontcontent{
    margin-top: 80px;
    font-family:sans-serif;
    font-weight: 150;
    font-size: large;
    text-align: left;
    color: rgb(45, 43, 43);
}
.lapcenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;     
}
.subhead{
    text-align: center;
    background: #1a1a66;
    color: white;
    font-weight: 20;
}
.tent{
    margin-top: 20px;
    font-size: 1.2vw;
    text-align: justify;
    line-height: 1.8;
    font-family: 'Alkatra', cursive;
    margin-bottom: 20px;
}
.cont{
    font-size: 1.2vw;
    text-align: justify;
    line-height: 1.8;
    font-family: 'Alkatra', cursive;
}
:root {
    --navcol: #1a1a66;
  }

  .counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 26px;
    background-color: #00b3e7;
    border-radius: 10px;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 120px;
    height: 92px;
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}
.grid-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, 100px); /* 3 rows */
    gap: 10px; /* Gap between grid items */
    max-width: 800px; /* Set a maximum width for the grid */
    margin: 0 auto; /* Center the grid horizontally */
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  @media(max-width:523px){
    .grid-container {
    padding-bottom: 120px;
    }
  }
.navbar-toggler-icon{
    color:white;/*change toggle bar color*/
}
