@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto+Slab&display=swap');

:root {
    --navcol: #2f6690;
}
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background-color: #fbfcf0;
    background-size: cover;
    background-position: center;
    background-image: none;
    background-size: cover;
    background-position: center;
}

.fontcontent{
    margin-top: 80px;
    font-family:sans-serif;
    font-weight: 150;
    font-size: large;
    text-align: left;
    color: rgb(45, 43, 43);
}
.lapcenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;     
}
.subhead{
    text-align: center;
    background: #1a1a66;
    color: white;
    font-weight: 20;
}
.tent{
    margin-top: 20px;
    font-size: 1.2vw;
    text-align: justify;
    line-height: 1.8;
    font-family: 'Alkatra', cursive;
    margin-bottom: 20px;
}
.cont{
    font-size: 1.2vw;
    text-align: justify;
    line-height: 1.8;
    font-family: 'Alkatra', cursive;
}
:root {
    --navcol: #1a1a66;
  }

  .counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}