@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto+Slab&display=swap');


:root {
    --navcol: #2f6690;
  }

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body
{
    background-color: #fbfcf0;
    background-image: none;
    background-size: cover;
    background-position: center;
    
}
.content p{
    padding:12px;
}

.eventimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
}
.content{
    margin-top: 100px;
}
.title{
    font-size: 4vw;
    text-align: center;
}
.h21{
    font-size: 3vw;
}
.h31{
    font-size: 2vw;
}
.h31,.h21{
    text-align: center;
}
.recent{
    font-size: 1.4vw;
}
.title1{
    font-size: 2.5vw;
}
.h51{
    font-size: 2.4vw;
}
.reg{
    font-size: 1.4vw;
    text-align: center;
}
button{
    color: white;
    background-color: #1a1a66;
    width: 25vw;
    border-radius: 30px;
    height: 7vh;
}
.eventimg{
    margin-top: 100px;
    margin-bottom: 100px;
}
a{
    text-decoration: none;
}
.pdfbutton{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}
.pdfbutton a button{
    border-radius: 20px;
}
.names{
    text-align: center;
    font-size: 1.4vw;
}
.names1{
    text-align: center;
    font-size: 1.4vw;
}
:root {
    --navcol: #1a1a66;
  }
  @media(max-width: 541px)
{
    .eventimg{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .pdfbutton a button{
        height: 4vh;
        font-size: 2vw;

    }
}
@media(max-width:587px){
    .names1{
        margin-bottom: 300px;
        font-size: 10px;
    }
    .h31{
        font-size: 12px;
    }
    .title1{
        font-size: 4vw;
    }
    .h51{
        font-size: 2vw;
    }
   .recent{
    font-size: 8px;
   }
   .reg{
    font-size: 8px;
   }
}
.names{
    font-size: 8px;
}
@media(max-width:840px){
    .pdfbutton{
        color: white;
        background-color: #1a1a66;
        width: 24vw;
        border-radius: 30px;
        font-size: 1.5vw;
    }
}