@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto+Slab&display=swap');


:root {
    --navcol: #2f6690;
  }

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body
{
    /* min-height: 100vh; */
    background-color: #fbfcf0;
    background-image: none;
    background-size: cover;
    background-position: center;
    
}
.content p{
    padding:12px;
}

.header
{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: var(--navcol);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/* .content{
    display: none;
} */
.eventimg{
margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.content{
    margin-top: 100px;
}
h1{
    font-size: 4vw;
}
h2{
    font-size: 3vw;
}
h3{
    font-size: 2vw;
}
h1,h3,h2{
    text-align: center;
}
:root {
    --navcol: #1a1a66;
  }