.contactfont{
    padding: 45px;
    font-family: sans-serif;
    size: 10vw;
    color:rgb(255, 255, 255);
    text-align: justify;
    
}
body, h1, p {
    margin: 0;
    padding: 0;
}


/* Style the right content */
.right-content {
    background-color: #1a1a66;
    padding: 20px;
}
/* Style the form elements */
.col-25 {
    width: 25%;
    margin-bottom: 10px; /* Add margin at the bottom of labels */
}

.enter{
    height:40px;
    width: 500px;
}

.col-75 {
    height:40px;width: 500px;
    /* width: 55%; */
    margin-bottom: 10px; /* Add margin at the bottom of input fields */
}
.contactbutton{
    margin: 0 auto;
     display: block;
     border-radius:20px;
     background-color:rgb(243, 235, 235);
     width:150px;
     font-weight:bolder;
     color:#1a1a66;
     height:30px;
     
}
a {
    text-decoration: none;
  }
  
  
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* row-gap: 20px; */
    gap: 50px;
    padding: 40px;
    width: 100%;
    /* max-width: 100%; */
    justify-content: center; /* Adjust alignment to start */
    margin-top: 20px; /* Add margin to push it down from the top */
  }
  
  .grid-item {
    text-align: center;
    background-color: #1a1a66;
    border-radius: 5px;
    padding: 10px;
  }
@media(max-width:789px)
{
    .grid-container {
        grid-template-columns: repeat(1, 300px);
        gap: 60px;
        margin: auto;
    }
    .enter{
        height:40px;
        /* width: 500px; */
        width: 250px;
    }

}
