.contactfont{
    padding: 45px;
    font-family: sans-serif;
    size: 10vw;
    color:rgb(255, 255, 255);
    text-align: justify;
    
}
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Define the grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns, 1/3 and 2/3 of the container's width */
    gap: 50px; /* Gap between grid items */
    padding: 20px; /* Add some padding to the grid container */
    width: 100%; /* Ensure the container spans the full width of its parent */
    justify-content: start; /* Adjust alignment to start */
    margin-top: 20px; /* Add margin to push it down from the top */
}

<<<<<<< HEAD
=======


>>>>>>> 44ead23edd4b941a9c91d394d6a9699cf30692f1
/* Style the right content */
.right-content {
    background-color: #1a1a66; /* Background color for right content */
    padding: 20px; /* Add padding to the right content */
}
/* Style the form elements */
.col-25 {
    width: 25%;
    margin-bottom: 10px; /* Add margin at the bottom of labels */
}

.col-75 {
    width: 55%;
    margin-bottom: 10px; /* Add margin at the bottom of input fields */
}
.contactbutton{
    margin: 0 auto;
     display: block;
     border-radius:20px;
     background-color:rgb(243, 235, 235);
     width:150px;
     font-weight:bolder;
     color:#1a1a66;
     height:30px;
     
}
a {
    text-decoration: none;
  }
  
  
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* row-gap: 20px; */
    gap: 30px;
    padding: 40px;
  }
  
  .grid-item {
    text-align: center;
    background-color: #1a1a66;
    border-radius: 5px;
    padding: 10px;
  }
  /* .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 60px; 
    padding: 20px; 
    width: 100%; 
    justify-content: start;
    margin-top: 20px; 
} */
