.corasol{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    min-height: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  
  .swiper {
    margin-top: 1500px;
    width: 90%;
    height:100vh;
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: linear-gradient(to top right,#cfa202,#cfa202,#fffca6,#fffca6, #fffca6);
  }
  
  .swiper-pagination {
    bottom: 34px !important;
    transform: scale(1.8);
  }
  
  .swiper-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0 0 80px;
  }
  
  
  .swiper-slide div {
    transition: 0.25s;
    opacity: 0;
  }
  
  .swiper-slide-active div {
    opacity: 1;
  }
  
  .swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../Event/5g-it-history.jpeg") no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../Event/ease-error.jpeg") no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../Event/Evol-comput-skill-set.jpeg") no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../Event/prof-resume-writing.jpeg") no-repeat 50% 50% / cover;
  }
  
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }
  
  @media(max-width:750px){

    .swiper{
      height: 200px;
    }
    .swiper-pagination {
    bottom: 17px !important;
    transform: scale(1.2);
  }
  
  }
  @media(max-width:320px)
{
   .swiper{
    margin-bottom: 1000px;
  }
}