/* body{
    background-image: none;

}
:root {
    --navcol: #1a1a66;
  }
  .carousel-inner{
     height: 300px;
}*/

/* .item, img{
    height: 100% !important;
    width:  100% !important;
}  */
/* .sliding{
    height: 200vh;
    size: 100vh;
    position: relative;
    align-items: center;
} */
main{
    margin-top: 50px;
}
.eventitle{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-size: 26px; */
    font-size: 2vw;
}
@media(max-width:425px){
.sliding{
    margin-bottom: 300px;
}
}