
main{
    margin-top: 50px;
}
.eventitle{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-size: 26px; */
    text-align: center;
    font-size: 2vw;
    padding-top: 50px;
}
@media(max-width:517px){
.sliding{
    margin-bottom: 300px;
}
.eventitle{
    font-size: 16px;
    text-align: center;
}
}