*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    margin: 30px;
    min-height: 100vh;
    background-image: none;
    background-size: cover;
    background-color: #fbfcf0;
    background-position: center;
    text-align: justify;
    text-align: left;
    margin: 30px;
}

.membermain
{
    padding: 40px;
    font-family:sans-serif;
    font-weight: 150;
    font-size: large;
    text-align: left;
    color: rgb(45, 43, 43);
}
:root {
    --navcol: #1a1a66;
  }