@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto+Slab&display=swap');

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}
body
{
    /* min-height: 100vh; */
    background-image: none;
    background-size: cover;
    background-color: #fbfcf0;
    background-position: center;
    text-align: justify;
    text-align: left;
}
main
{
    width: 100%;
}
.thinkimg img
{
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: text 2s ease-in-out;
    z-index: -10;
    position: relative;
    top: 70px;
   right: 50px;
}
h2
{
    position: absolute; 
    margin-top: 50px;
    font-size: 6vw;
    margin-left: 20px;
    z-index: -20;
    animation: text 4s ease-in-out;
}

.contenttext{
    text-align: center;
    position: absolute;
    top: 12%;
    font-size: 1.6vw;
    width: 50%;
    right: 10%;
    animation: fade-up 1.5s;
}

.membership{
    margin-top: 80px;
    height: 44vh;
    font-size: 3.3vh;
    background-color: #1a1a66;
    text-align: center;
}
.membership h3{
    position: relative;
    color: #fbfcf0;
    top: 30px;
}
.membership p{
    position: relative;
    top: 50px;
    font-size: 2.3vh;
    color: #B9D9EB;
    width: 50%;
    margin: auto;
}
.coporatcontainer{
    margin-top: 200px;
    height: 340px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* row-gap: 20px; */
    gap: 10px;
  }
  
  .grid-item {
    background-color: #ccc;
    padding: 10px;
  }
  button{
    color: white;
    background-color: #1a1a66;
    width: 25vw;
    border-radius: 30px;
    height: 40px;
}
li{
    padding: 5px;
    font-size: 1.7vw;
}

.access{
    margin-top: 300px;
}
@keyframes text{
    0%{
        opacity: 0;
        font-size: 0vw;
    }
    100%{
        opacity: 1;
        font-size: 6vw;
    }
}
@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@media(max-width:661px)
{
    .contenttext{
        top: 8%;
        font-size: 2.3vw;
    }
    .membership p 
    {
        font-size: 1.5vh;
    }

    li{
        font-size: 2.4vw;
    }
    button{
        width: 19vw;
        height: 20px;
        font-size: .5rem;
    }
}
:root {
    --navcol: #1a1a66;
  }