*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    /* min-height: 100vh; */
    background-image: none;
    background-size: cover;
    background-color: #fbfcf0;
    background-position: center;
    text-align: justify;
    text-align: left;
}
main
{
    width: 100%;
}
.thinkimg img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: text 2s ease-in-out;
}
h2
{
    position: absolute; 
    margin-top: 50px;
    font-size: 6vw;
    margin-left: 20px;
    z-index: -20;
    animation: text 4s ease-in-out;
}

.content p{
    text-align: center;
}

.membership{
    margin-top: 80px;
    height: 400px;
    font-size: 1.2rem;
    background-color: #1a1a66;
    text-align: center;
}
.membership h3{
    position: relative;
    color: #fbfcf0;
    top: 30px;
}
.membership p{
    position: relative;
    top: 50px;
    color: #B9D9EB;
}
.corporate{
    margin-top: 200px;
    background-color: #1a1a66;
    height: 400px;
}
.corporate h3{
    position: relative;
    top: 30px;
    font-size: 28px;
    color: #fbfcf0;
    text-align: center;
}
.corporate p{
    position: relative;
    top: 50px;
    padding: 20px;
}
.corporate button{
    height: 40px;
    position: relative;
    border-radius: 25px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


@keyframes text{
    0%{
        opacity: 0;
        font-size: 0vw;
    }
    100%{
        opacity: 1;
        font-size: 6vw;
    }
}
/* .membermain
{
    padding: 40px;
    font-family:sans-serif;
    font-weight: 150;
    font-size: large;
    text-align: left;
    color: rgb(45, 43, 43);
} */
:root {
    --navcol: #1a1a66;
  }